/* Border/Shape */
.mdc-button,
.mdc-text-field {
  border-radius: var(--mdc-shape-small);
}  

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 var(--mdc-shape-small) var(--mdc-shape-small) 0;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: var(--mdc-shape-small) 0 0 var(--mdc-shape-small);
}

.mdc-select, .mdc-select__native-control {
  border-radius: var(--mdc-shape-small) var(--mdc-shape-small) 0 0;
}

.mdc-card,
.mdc-dialog .mdc-dialog__surface {
  border-radius: var(--mdc-shape-medium);
}

.mdc-drawer {
  border-radius: 0 var(--mdc-shape-large) var(--mdc-shape-large) 0;
}

/* Color */
.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--selected, 
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-primary);
}

.mdc-top-app-bar {
  color: var(--mdc-theme-on-primary);
}

/* this is such a hack to get RGBA working with hex vars by 
layering background colors. You can layer as many gradients 
as you want, but you can't layer solid colors, so here we are. 

This *should* be able to mix with surface in an ideal world */
.mdc-data-table {
  background: white;
}

.mdc-data-table__row--selected {
  background: linear-gradient(rgba(255,255,255,0.88), rgba(255,255,255,0.88)), var(--mdc-theme-primary)
}

/* Type */

.mdc-top-app-bar__title,
.mdc-button,
.mdc-fab,
.mdc-typography,
.mdc-drawer__title,
.mdc-drawer__subtitle,
.mdc-list-item__text,
.mdc-text-field__input,
.mdc-floating-label,
.mdc-tab,
.mdc-snackbar__label,
.mdc-dialog__title,
.mdc-dialog__content,
.mdc-chip__text,
.mdc-list-item__primary-text,
.mdc-list-item__secondary-text,
.mdc-data-table,
.mdc-data-table__header-cell,
.mdc-data-table__cell {
  font-family: var(--mdc-typography--font-family);
}

/* Title Type, breaking out for potential changes */
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--subtitle1,
.mdc-typography--subtitle2,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--button,
.mdc-typography--caption,
.mdc-typography--overline {
  font-family: var(--mdc-typography--font-family);
}

/* on-colors */
.mdc-card .mdc-typography,
.mdc-menu .mdc-list,
.mdc-dialog .mdc-dialog__title,
.mdc-dialog .mdc-dialog__content,
.mdc-chip__text {
  color: var(--mdc-theme-on-surface);
}

.mdc-chip--selected .mdc-chip__checkmark-path {
  color: var(--mdc-theme-on-surface);
}