@import url('vars.css');
@import url('bandaids.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,700&display=swap');

body {
  display: flex;
  background: var(--mdc-theme-background);
  margin: 0;
  padding: 0;
}

.theme-summary-line,
code {
  font-family: var(--monospace-font-family);
  font-size: 14px;
}

.sidebar {
  --demoGray: #eeeeee;
  --mdc-theme-primary: #6200ee;
  --mdc-theme-on-primary: #ffffff;
  --mdc-typography--font-family: 'Roboto', serif;
  --monospace-font-family: 'Roboto Mono', monospace;
  
  min-width: 380px;
  max-width: 380px;
  left: 0;
  top: 0;
  background: white;
  border-right: 1px solid lightgray;
  padding: 0 1rem;
  position: relative;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

.sidebar .mdc-list-divider {
  border-bottom-color: rgba(0,0,0,.12);
  margin-top: 16px;
  margin-bottom: 8px;
}

.drawer-content--theme-summary {
  height: auto;
}

.theme-summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-summary-color {
  border: none;
  padding: 0;
  width: 42px;
  height: 26px;
}

.theme-summary-shape--small:after {
  content: 'S';
  border-radius: var(--mdc-shape-small);
}

.theme-summary-shape--medium:after {
  content: 'M';
  border-radius: var(--mdc-shape-medium);
}

.theme-summary-shape--large:after {
  content: 'L';
  border-radius: var(--mdc-shape-large);
}

.theme-summary-shape--small:after,
.theme-summary-shape--medium:after,
.theme-summary-shape--large:after {
  color: #353535;
  border: 1px solid;
  width: 42px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background: var(--demoGray);
}

.theme-summary-shape {
  margin: 0;
}

.section-header {
  display: flex;
  height: 36px;
  font-family: Roboto, sans-serif;
}
  
.section-header a {
  display: flex;
  align-items: center;
}
  
.section-header a:hover, 
.section-header a:focus {
  text-decoration: none;
}
  
.section-header .material-icons {
  font-size: 1rem;
  padding: 8px;
}

.typography-callout {
  padding: 16px;
  border: 1px solid;
  background-color: var(--demoGray);
  display: block;
}

.font-link {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -16px;
  color: var(--mdc-theme-primary);
}

.font-link i {
  font-size: 16px;
  margin-left: 8px;
}

.varVal {
  font-weight: 600;
  font-family: var(--monospace-font-family);
}

.shapeVal {
  width: 2rem;
  border: 1px solid lightgray;
  padding: 0.25em;
  text-align: right;
  font-size: 16px;
  margin: 12px 8px 12px 0;
}

.material-icons.leading-icon {
  padding-left: 0;
}

.demo-title {
  font-style: italic;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.material-logo {
  margin-right: 8px;
}

.source img {
  margin-top: 1rem;
  min-height: 320px;
  width: 100%;
  object-fit: cover;
  background: #fbfbfb;
}

/* Hide native web input, use label to access */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Styling components within main content */

.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content .column {
  display: block;
  margin: 0 8px;
  flex-basis: 420px;
}

.component-section {
  margin: 16px 20px 40px 20px;
}

.component-section-row {
  display: flex;
}

.section-header {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.section-header a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
}

.component-wrapper {
  margin: 16px 0;
}

/* Move elements inline */
.mdc-dialog,
.mdc-top-app-bar,
.mdc-snackbar {
  position: relative;
}

/* Individual Components */
.demo-card__primary,
.demo-card__secondary {
  padding: 0 16px;
}

/* Image List -- without the mixins */
.mdc-image-list {
  column-count: 2;
  column-gap: 16px;
  max-width: 410px;
  max-height: 600px;
  margin: 0;
}

.mdc-image-list .mdc-image-list__item {
  margin-bottom: 16px;
}

.drawer-component-wrapper {
  background: rgba(0, 0, 0, 0.3);
}

.drawer-component-wrapper .mdc-drawer {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.component-wrapper.button-component-wrapper, .component-wrapper.fab-component-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdc-dialog .mdc-dialog__surface {
  max-width: 100%;
}

.mdc-text-field {
  width: 100%;
}

.mdc-select__menu .mdc-list {
  width: 200px;
}

.menu-section {
  height: 250px;
}

.hidden {
  display: none;
}

/* top app bar not in usual location, but this is adding it to the page */
.mdc-top-app-bar--fixed-adjust {
  padding-top: 0;
}